body{
    margin-top: 10px;
}
.container{
    margin-top: 26px;
}
#logo{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}
#github{
    width: 35x;
    height: 35px;
    margin-top: 6px;
}
@media screen and (max-width:780px){
    .btn-default{
        width: 100%;
    }
    #logo{
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #github,#youtube{
        position: relative;
        left: 45%;
    }
}
#youtube{
    width: 35px;
    height: 35px;
    margin-top: 6px;
}
.carousel-caption .btn-primary{
    margin-bottom: 15%;
    width: 150px;
    height: 50px;
}
#slide3{
    width: 100%;
    height: 415px;
    clear: both;
}
#slide-box {
    position: absolute;
    width: 100%;
    min-height: 350px;
    border: 5px solid white;
    box-shadow: 0px 0px 20px grey; 
}


.about{
    width: 100%;
    height: 50px;
    background: #333;
    margin-top:120px;   
}
#h2 {
    color: white;
    line-height: 50px;
}
